<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBowcysrUWHWyBRb0t9RqVQfB8HLFs2Hz8</string>
	<key>GCM_SENDER_ID</key>
	<string>647026031693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devjangClassMarket</string>
	<key>PROJECT_ID</key>
	<string>devjangshopping</string>
	<key>STORAGE_BUCKET</key>
	<string>devjangshopping.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647026031693:ios:7f778cf2da368519147004</string>
</dict>
</plist>